/* Importa a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Define estilos globais para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Define estilos para o corpo da página */
body {
  background-color: #f4f4f4;
  color: #333;
}

/* Estilos para o elemento main */
main {
  padding: 5rem 0rem 1rem; /* 80px 0px 16px */
}

/* Estilos para o botão de mostrar formulário */
.botao-mostrar-formulario {
  margin: 1.25rem; /* 20px */
  padding: 0.625rem 1.25rem; /* 10px 20px */
  background-color: #ff4800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para o hover do botão de mostrar formulário */
.botao-mostrar-formulario:hover {
  background-color: #ff4800cc;
}

/* Estilos para o formulário de orçamento e a tabela de orçamentos */
.formulario-orcamento, .tabela-orcamento {
  margin: 1.25rem; /* 20px */
  padding: 1.25rem; /* 20px */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os títulos das seções de formulário e tabela de orçamentos */
.formulario-orcamento h2, .tabela-orcamento h2 {
  margin-top: 0;
}

/* Estilos para os labels do formulário de orçamento */
.formulario-orcamento label {
  display: block;
  margin-bottom: 0.3125rem; /* 5px */
  font-weight: 500;
}

/* Estilos para os inputs do formulário de orçamento */
.formulario-orcamento input, .formulario-orcamento select, .formulario-orcamento textarea {
  width: 100%;
  padding: 0.625rem; /* 10px */
  margin-bottom: 0.625rem; /* 10px */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para o textarea do formulário de orçamento */
.formulario-orcamento textarea {
  resize: vertical;
}

/* Estilos para os botões do formulário de orçamento */
.formulario-orcamento button {
  padding: 0.625rem 1.25rem; /* 10px 20px */
  background-color: #ff4800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para o hover dos botões do formulário de orçamento */
.formulario-orcamento button:hover {
  background-color: #ff4800cc;
}

/* Estilos para o contêiner da tabela de itens do orçamento */
.formulario-orcamento .tabela-container {
  overflow-x: auto;
  margin-top: 1.25rem; /* 20px */
}

/* Estilos para a tabela de itens do orçamento */
.formulario-orcamento table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; /* Define uma largura mínima para a tabela */
}

/* Estilos para as células da tabela de itens do orçamento */
.formulario-orcamento th, .formulario-orcamento td {
  padding: 0.625rem; /* 10px */
  border-bottom: 1px solid #ddd;
}

/* Estilos para as linhas pares da tabela de itens do orçamento */
.formulario-orcamento tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilos para o hover das linhas da tabela de itens do orçamento */
.formulario-orcamento tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para os botões de ações na tabela de itens do orçamento */
.formulario-orcamento .acoes button {
  margin-right: 0.3125rem; /* 5px */
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para os botões de edição na tabela de itens do orçamento */
.formulario-orcamento .acoes .editar {
  background-color: #ffc107;
  color: #fff;
  margin-bottom: 0.3125rem; /* 5px */
}

/* Estilos para o hover dos botões de edição na tabela de itens do orçamento */
.formulario-orcamento .acoes .editar:hover {
  background-color: #e0a800;
}

/* Estilos para os botões de exclusão na tabela de itens do orçamento */
.formulario-orcamento .acoes .deletar {
  background-color: #dc3545;
  color: #fff;
}

/* Estilos para o hover dos botões de exclusão na tabela de itens do orçamento */
.formulario-orcamento .acoes .deletar:hover {
  background-color: #c82333;
}

/* Estilos para o título do total do orçamento */
.formulario-orcamento h3 {
  margin-top: 1.25rem; /* 20px */
  font-size: 1.2rem;
  color: #333;
}

/* Estilos para o valor total do orçamento */
.formulario-orcamento #precoTotal {
  font-weight: 700;
  color: #ff4800;
}

/* Estilos para a barra de pesquisa */
#entradaPesquisaOrcamento {
  width: 100%;
  padding: 0.625rem; /* 10px */
  margin-bottom: 1.25rem; /* 20px */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para a tabela de orçamentos */
.tabela-orcamento {
  margin-top: 1.25rem; /* 20px */
}

.tabela-orcamento h2 {
  margin-bottom: 0.625rem; /* 10px */
  font-size: 1.5rem;
  color: #333;
}

.container-tabela {
  overflow-x: auto;
}

.container-tabela table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.625rem; /* 10px */
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.container-tabela th, .container-tabela td {
  padding: 0.625rem; /* 10px */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.container-tabela th {
  background-color: #ff4800;
  color: #ffffff;
}

.container-tabela tr:nth-child(even) {
  background-color: #f3f3f3;
}

.container-tabela tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para os botões de ações na tabela de orçamentos */
.tabela-orcamento .acoes button {
  margin-right: 0.3125rem; /* 5px */
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para os botões de edição na tabela de orçamentos */
.tabela-orcamento .acoes .editar {
  background-color: #f0b70e;
  color: #fff;
  margin-bottom: 0.3125rem; /* 5px */
}

/* Estilos para o hover dos botões de edição na tabela de orçamentos */
.tabela-orcamento .acoes .editar:hover {
  background-color: #f0b70e;
}

/* Estilos para os botões de exclusão na tabela de orçamentos */
.tabela-orcamento .acoes .deletar {
  background-color: #dc3545;
  color: #fff;
  margin-bottom: 0.3125rem; /* 5px */
}

/* Estilos para o hover dos botões de exclusão na tabela de orçamentos */
.tabela-orcamento .acoes .deletar:hover {
  background-color: #c82333;
}

/* Estilos para os botões de exclusão na tabela de orçamentos */
.tabela-orcamento .acoes .enviar {
  background-color: #08ca28;
  color: #fff;
}

/* Estilos para o hover dos botões de exclusão na tabela de orçamentos */
.tabela-orcamento .acoes .enviar:hover {
  background-color: #08ca28;
}