/* Importa a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Define estilos globais para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Define estilos para o corpo da página */
body {
  background-color: #f4f4f4;
  color: #333;
}

/*=================== MENU ===================*/
/* Estilos para a navegação */
.navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  background-color: #070707;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Estilos para o logo */
.navegacao .logo {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 200;
}

/* Estilos para o span dentro do logo */
.logo span {
  color: #ff4800;
  font-size: 1rem;
  font-weight: 500;
}

/* Estilos para a lista de navegação */
.menu-navegacao {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/* Estilos para os links da navegação */
.menu-navegacao .item-navegacao a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  transition: color 0.3s;
}

/* Estilos para o efeito hover nos links da navegação */
.menu-navegacao .item-navegacao a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #ff4800;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

/* Estilos para o efeito hover nos links da navegação */
.menu-navegacao .item-navegacao a:hover::after {
  width: 100%;
  left: 0;
  background: #ff4800;
}

/* Estilos para o menu de hambúrguer */
.menu {
  cursor: pointer;
  display: none;
}

/* Estilos para as barras do menu de hambúrguer */
.menu .barra {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: #ff4800;
  margin: 5px auto;
  transition: all 0.3s;
}

/* Estilos para as barras do menu de hambúrguer */
.menu .barra:nth-child(1), .menu .barra:nth-child(3) {
  background-color: #ff4800;
}

/*=================== Responsividade ===================*/ 
@media (max-width: 900px) {
  /* Estilos para o logo em telas menores */
  .navegacao .logo {
    font-size: 1.5rem;
  }

  /* Estilos para o span dentro do logo em telas menores */
  .navegacao span {
    font-size: 0.9rem;
  }

  /* Estilos para a navegação em telas menores */
  .navegacao {
    padding: 18px 20px;
  }

  /* Exibe o menu de hambúrguer em telas menores */
  .menu {
    display: block;
    cursor: pointer;
  }

  /* Estilos para o menu de hambúrguer ativo */
  .menu.ativo .barra:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu.ativo .barra:nth-child(2) {
    opacity: 0;
  }

  .menu.ativo .barra:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* Estilos para o menu de navegação em telas menores */
  .menu-navegacao {
    position: fixed;
    right: -100%;
    top: 60px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #000;
    gap: 3rem;
    transition: 0.3s;
    z-index: 1;
  }

  /* Estilos para o menu de navegação ativo em telas menores */
  .menu-navegacao.ativo {
    right: 0;
  }

  /* Estilos para os itens da navegação em telas menores */
  .item-navegacao {
    margin: 1rem 0;
  }
}

/* Estilos para o elemento main */
.principal {
  padding: 80px 0px 16px;
}

/* Estilos para o botão de mostrar formulário */
.botao-mostrar-formulario {
  margin: 20px;
  padding: 10px 20px;
  background-color: #ff4800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para o hover do botão de mostrar formulário */
.botao-mostrar-formulario:hover {
  background-color: #ff4800cc;
}

/* Estilos para o formulário de serviço e a tabela de serviços */
.formulario-servico, .tabela-servico {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os títulos das seções de formulário e tabela de serviços */
.formulario-servico h2, .tabela-servico h2 {
  margin-top: 0;
}

/* Estilos para os labels do formulário de serviço */
.formulario-servico label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

/* Estilos para os inputs e selects do formulário de serviço */
.formulario-servico input, .formulario-servico select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos adicionais para o select do formulário de serviço */
.formulario-servico select {
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 8px 10px;
}

/* Estilos para o botão do formulário de serviço */
.formulario-servico button {
  padding: 10px 20px;
  background-color: #ff4800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para o hover do botão do formulário de serviço */
.formulario-servico button:hover {
  background-color: #ff4800;
}

/* Estilos para o input de busca da tabela de serviços */
.tabela-servico input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para o contêiner da tabela */
.contêiner-tabela {
  overflow-x: auto;
}

/* Estilos para a tabela de serviços */
.tabela-servico table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; /* Define uma largura mínima para a tabela */
}

/* Estilos para as células da tabela de serviços */
.tabela-servico th, .tabela-servico td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Estilos para as linhas pares da tabela de serviços */
.tabela-servico tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilos para o hover das linhas da tabela de serviços */
.tabela-servico tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para os botões de ações na tabela de serviços */
.tabela-servico .acoes button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para os botões de edição na tabela de serviços */
.tabela-servico .acoes .editar {
  background-color: #ffc107;
  color: #fff;
  margin-bottom: 5px;
}

/* Estilos para o hover dos botões de edição na tabela de serviços */
.tabela-servico .acoes .editar:hover {
  background-color: #e0a800;
}

/* Estilos para os botões de exclusão na tabela de serviços */
.tabela-servico .acoes .deletar {
  background-color: #dc3545;
  color: #fff;
}

/* Estilos para o hover dos botões de exclusão na tabela de serviços */
.tabela-servico .acoes .deletar:hover {
  background-color: #c82333;
}